.pageContent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

/* 
  Sidebar
*/
.sideBar {
  position: sticky;
  top: 0;
  width: 25%;
  height: calc(100vh);
  background-color: #fff;
  margin-right: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

/* 
  Internal Content
*/
.internalContent {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0.5em 0.5em 0px 0.5em;
  background-color: white;

  display: flex;
  justify-content: space-around;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* 
  Image Container
*/
.thumbnailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 10px;

  padding: 50px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.thumbnail {
}
.thumbnail {
}
.thumbnail li {
  margin-bottom: 10px;
}

/* 
  Image Card
*/
.imageCard {
  margin-bottom: 10px;
  display: flex;
}
.imageCard th {
  text-align: left;
  width: 4rem;
}
.subtitle {
  margin-top: -18px;
  font-weight: bolder;
}

/* 
  Image Card Thumbnail
*/
.imageCardContent {
  position: relative;
  width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0px 25px 0px 25px;

  background-color: #efefef;

  border: 1px solid transparent;
  transition: all 0.3s;
}
.imageCardContent div {
  width: 80%;
}
.imageCardContent h1 {
  font-size: 20px;
}

.imageCardContent:hover {
  cursor: pointer;
  border: 1px solid black;
}

.imageCardContent h1 {
  color: rgb(7, 144, 203);
  font-size: 25px;
}

.releaseDate {
  position: absolute;
  right: 0px;
}

/* 
  Content
*/
.modal {
  width: 100%;
  background-color: #fff;
  animation: fadeIn 0.4s;
  overflow: scroll;
  overflow-x: hidden;

  padding: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.imageHeader {
  padding: 25px 0px 50px 0px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.imageDescription {
}

/* 
toolBar
*/
.toolBar {
  position: absolute;
  bottom: 0;
  right: 1.1rem;
  width: 40%;
  background-color: rgb(0, 111, 230);

  padding: 15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* 
  STYLES FOR ADD NEW IMAGE
*/
.imageForm {
  background-color: #fff;
  height: 100%;
  padding: 50px 10px 50px 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  animation: slideIn 0.4s;
}
.imageForm h1 {
  align-items: center;
}
.mainForm {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 40%;

  font-size: 9px;
  background-color: #fff;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;

  padding: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  animation: slideIn 0.4s;
}
.submit {
  margin: auto;
  width: 78%;
}
.basicForm {
  margin-bottom: 10px;
  width: 97%;
  border: 1px solid black;
}
/* 
  Basic Information
*/
.basicInformationForm {
  border: 1px solid black;
}
.formHeader {
  background-color: #68b9ff;
  padding: 5px 20px 5px 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.basicInformationForm table {
  width: 100%;
}
.basicInformationForm table th {
  text-align: right;
  width: 30%;
}
.basicInformationForm table td {
  width: 70%;
}
.basicInformationForm input {
  text-align: center;
  font-size: 9px;
  width: 90%;
}

/* 
  File Attachment Form
*/
.attachmentForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileListToolBar {
  display: flex;
  justify-content: space-between;

  background-color: #68b9ff;
  padding: 5px 20px 5px 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
.attachmentContainer {
  display: flex;
  flex-direction: column;
}
.dropBox {
  width: 80%;
  margin: 10px auto 10px auto;
  height: 200px;
  display: flex;
  padding: 0;
  flex-direction: column;
  text-align: center;
  border: 1px dashed black;
  background-color: rgb(187, 254, 255);
}
.dropBox button {
  padding: 0.25rem;
  width: fit-content;
  margin: auto;
}
.fileList {
  display: flex;
  flex-direction: column;
  width: 98%;
}
.fileList ul {
  margin-top: 5px;
  width: 98%;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
}
.fileCard {
  width: 80%;
  font-size: 9px;
  padding: 10px;
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: whitesmoke;
  margin-bottom: 7px;
  border: 1px solid rgb(144, 144, 144);
}
.fileCardFilename {
  max-width: 100%;
  overflow: hidden;
}
.fileCard select {
  font-size: 9px;
}
.deleteButton {
  top: 5px;
  right: 5px;
  font-size: 9px;
  margin: auto;
}

/* 
  Text Editor For Release Description
*/
.editor textarea {
  width: 98%;
  height: 600px;
  resize: none;
  outline: none;
  font-size: 12px;
  border: none;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* 
  LIVE RENDER
*/
.renderedForm {
  background-color: #fff;
  width: 70%;
  height: 100%;
  margin-left: 10px;
  font-size: 12px;

  overflow: scroll;
  overflow-x: hidden;
}

.hide {
  display: none;
}
